<div class="columns has-text-centered" id="blog-card">
    <a href="{{ post.url | absolute_url }}">
        <div class="column has-text-left-desktop has-text-left-tablet">
            <h1 class="title is-size-4-touch">{{ post.title }}</h1>
            <div class="content has-text-grey">
                {{ post.content | truncate: 300 | strip_html | strip_newlines | strip | escape }}
                <!-- Exibir tags -->
                <div class="tags">
                    {% for tag in post.tags %}
                        <span class="tag" style="color: white;background-color: #3273dc;">{{ tag }}</span>
                    {% endfor %}
                </div>
                <hr class="has-background-grey">
                <span class="has-text-grey">Publicado/atualizado em <span class="has-text-weight-semibold">{{ post.date | date: "%-B %d, %Y" }}</span></span> 
            </div>
        </div>
    </a>
</div>

<style>
    .tag {
        margin: 2px;
        padding: 3px 10px;
        color: #3273dc;
        border-radius: 4px;
        display: inline-block;
    }
</style>
